body{
 width:800px;
 margin-left:50%
}
#main{
 width:800px;
 margin-left:-400px;
}
#header{
 background:#3e4982;
 width:800px;
 height:150px;
 text-align:center;
 color:#FFFFFF;
 font-size:24px;
 padding-top:40px;
}
#menu{
 background:#6173cb;
 float:left;
 width:200px;
 height:300px;
 text-align:center;
 color:#FFFFFF;
 font-size:18px;
 padding-top:10px;
}
#content{
 background:#ffffff;
 margin-left:200px;
 height:300px;
 text-align:center;
}
#footer{
 background:#3e4982;
 clear:both;
 width:800px;
 height:50px;
 text-align:center;
 color:#FFFFFF;
 font-size:14px;
 padding-top:10px;
}
