{% extends "base.html" %}

{% block header %}
  <div id="smalllogo">
    <div style="margin-top:10px" class="whitetitle">Logo</div>
  </div>
  <div id="menu">
    <div align="right" class="smallwhitetext" style="padding:10px;">
      <a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Products</a> | <a href="#">Our Services</a> | <a href="#">Contact Us</a>
    </div>
  </div>
{% endblock header %}

{% block content %}
<img src="{{ screenshot_file.direct_url }}" class="" alt="{{ screenshot_file.name }}" />
{% endblock content %}
