{% extends "base.html" %}

{% block title %}My page{% endblock title %}
{%  block content %}
<div id="blocktext">
<div class="bodytext">

<table width=800px>
    {% for item in my_screenshots %}
    <tr>
        <td>
            <a href="{{ item.hash_url }}"><img src='/{{ item.get_thumbnail_url }}' /></a>
        </td>
        <td>
            <a href="{{ item.hash_url }}">{{ item.screenshot }}</a>
        </td>
        <td>
            {{ item.datetime }}
        </td>
    </tr>
{% endfor %}
</table>
</div></div>
{% endblock content %}
