{% extends "base.html" %}

{% block title %}Activation{% endblock title %}
{% block content %}
<div id="blocktext" style="padding-top:10px;">
    <span class="titletext">Activation</span>
</div>
<div id="blocktext" style="padding:10px 0px;">
<div  style="width: 450px; float: left;  text-align:left;">



<form method="post" action="">
{% csrf_token %}
<table>
{% for field in form %}
    <tr>
        <td></td>
        <td>
            {% if field.errors %}
            <span style="color: red;">
            {% for error in field.errors %}
               <strong>{{ error|escape }}</strong>
            {% endfor %}
            </span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {{ field.label_tag }}
        </td>
        <td>
            {{ field }}
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            {{ field.help_text }}
        </td>
{% endfor %}
    </tr>
    <tr><td></td>
        <td><input type="submit" value="Sign In" /></td>
    </tr>
</table>


</form>
<p>
<ul>
<LI><a href="{% url auth_password_reset %}">Forgot your password?</a>
<LI>Don't have an account? <a href="{% url registration_register %}">Sign up now</a>
</ul>

</div>
<div style="width: 350px; float: right;">


<fieldset>
<legend>Sign In Using Your OpenID</legend>
<table><tr>
           <td>
                Please click
           </td>
           <td>
           
                <form method="post" action="/openid/login/">
                {% csrf_token %}

                <input type="hidden" name="openid_identifier" value="https://www.google.com/accounts/o8/id" />
                <button><img src="{{ MEDIA_PREFIX }}img/google.png" width=65 height=25 /></button>
            
                </form>
            </td></tr>
            <tr><td>

                or enter your
            </td>
            <td>
              <a href="/openid/login/"><img src="{{ MEDIA_PREFIX }}img/openid.png" alt="OpenID" width=80 height=40  style: border=0 /></a>
            </td></tr>
</table>            
</fieldset>


</div>
</div>
 {% endblock content %}


